<div *ngIf="profile" class="row">
    <div class="card col-md-6">
     <div class="input-group flex-nowrap">

     <div class="input-group-prepend">
     <span class="input-group-text bg-warning" id="addon-wrapping"><h6>Search Developer</h6></span>
     </div>
      <input type="text" class="form-control" placeholder="Lookup in Github" aria-label="look-up-github" aria-describedby="addon-wrapping" [(ngModel)]="username"  name="username" (keyup)="getProfile()">
        </div>
      <div class="card-header">
        {{username}}
      <h2>Developer Name: {{ profile.name }}</h2>
    </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="row">
        <div class="col-md-4">
        <img appProfPic
         class="img-thumbnail githib-avatar"
         src="{{ profile.avatar_url }}"
         alt=""/>
        </div>
        <div class="col-md-8">
        <div class="stats">
         <span class="badge badge-primary mr-1">
        {{ profile.public_repos }} Public Repos</span>

         <span class="badge badge-secondary mr-1">
        {{ profile.public_gists }} Gists</span>
        <span class="badge badge-primary mr-1">
        {{ profile.followers }} Followers</span>
        <span class="badge badge-secondary mr-1">
         {{ profile.following }} Following</span>
 </div>
           
 <ul class="list-group">
    <li class="list-group-item">
      <strong>Username:</strong>{{ profile.login }}
    </li>
    <li class="list-group-item">
      <strong>Location:</strong>{{ profile.location }}
    </li>
    <li class="list-group-item">
      <strong>Email:</strong>{{ profile.email }}
    </li>
    
    <li class="list-group-item">
        <strong>Member Since : </strong>{{ profile.created_at|timeAgo }}
      
      <strong>Joined on : </strong>{{ profile.created_at|date }}
    </li>
  </ul>
</div>
</div>
<p><a href="{{profile.html_url}}" target="_blank" class="btn btn-warning">Checkout Github </a></p>
</div>
</div>
<div class="col-md-6">
<div class="bg-warning p-5 text-center">
<h3 class="repo-title">Projects Worked On:</h3>
</div>
<div class="card" *ngFor="let repo of repos">

    <div class="card-body">
        <h4 class="card-title bg-warning text-center">{{repo.name}}</h4>
        <p class="card-text">{{repo.description}}</p>
        <p class="card-text "> <span class="badge badge-secondary m-2">Created: {{repo.created_at | timeAgo}} </span> 
           <span class="badge badge-secondary n-2">On : {{repo.created_at | date}}</span></p>
        <p ></p>
        
      </div>
    </div>
</div>
</div>